#admin_bar {
  background-color: black;
	height: 3.5em;
}

.admin_bar_button_container {
  float: left;
	padding: 0.5em;
	height: 3em;
}

#edit_posts_button_container {
  width: 8em;
}

#edit_comments_button_container {
  width: 11em;
}

#edit_back_button_container {
  width: 10em;
}

#admin_portal_content {
  padding: 1em;
}