// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0px;
  padding: 0px;
}

header {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #EEEEEE;
  padding: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

#page_title {
  margin-top: 0px;
}

#contact {
  margin-top: 1em;
}

.post {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #EEEEEE;
  padding: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

.post_title {
  font-weight: bold;
}

.post_footer {
  margin-bottom: 1em;
}

.post_timestamp {
  margin-bottom: 1em;
}

.comments {
  margin-top: 1em;
}

.my_picture {
  float: left;
  margin-right: 1em;
}