html, body {
  margin: 0px;
  padding: 0px;
  background-color: #EEEEEE;
}

a:active {
  outline: none;
}

header {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #F7F7F7;
  padding: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

#page_title {
  margin-top: 0px;
}

#rss_button {
  display: block;
  width: 13px;
  height: 13px;
  float: right;
  background-color: #F7F7F7;
}

#contact {
  margin-top: 1em;
}

.button_bar {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #F7F7F7;
  padding: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

.post {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #F7F7F7;
  padding: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

.website_error {
  color: red;
}

.post_title {
  font-weight: bold;
}

.post_body {
  background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
  margin-bottom: 1em;
	padding: 1em;
}

.post_footer {
  margin-bottom: 1em;
}

.post_timestamp {
  margin-bottom: 1em;
}

.comments {
  margin-top: 1em;
}

.my_picture {
  float: left;
  margin-right: 1em;
}